$text-font: var(--font-mulish);
$primary-background: #f5fafe;
$primary-color: #3649AB;
$primary-color-hover: #455AC6;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$tertiary-color-hover: #4EDD8E;
$grey: #8790B0;
$white: #FFFFFF;
$red-color: #F46E6E;
$button-red-color: #DA5252;
$primary-border-color: #E3EBF2;
$input-background-color: #F5FAFE;
$input-background-color-disabled: #E9ECEF;
$border-card-color: #E3EBF2;
$font-size-heading: 32px;
$font-size-text: 14px;
$table-head-color: #EEF5FC;
$table-head-border-color: #C8D6E2;
$header-top-border-color: #D3D8EB;
$header-top-background: #EFF2FF;
$table-head-background: #EEF5FC;
$table-border: #E3EBF2;
$table-pagination-background: #D9E6F3;
$background-primary-color: rgba($primary-color, .2);
$screen-size-xm: 368px;
$screen-size-sm: 576px;
$screen-size-mm: 767px;
$screen-size-md: 950px;
$border-color: #BCD5E2;
$action-bar-border-color: #E3EBF2;
$card-background: #F5FAFE;
$background-color: #F5FAFE;
$checkbox-backgound: #949FB1;
$checkbox-background-hover: #455AC6;
$file-input-border: #8DA4B8;
$primary-background-clear: #ffffff00;
$expanded-width: 300px;
$nonexpanded-width: 97px;
$navItem-hightlight: #F5FAFE;
$line-color: #BCD5E2;
$secondary-border-color: #BCD5E2;
$transprant: rgba(0, 0, 0, 0);
$react-datepicker-background: #969EAC;
$error-message-border: #FF8F8F;
$error-message-background: #E5ADADB6;
$error-message-text: #ff0000;