@use './utility/variables' as var;
@media screen and (min-width: 676px) {
    .breadcrumbMainNav {
        margin-top: 10px;
        font-weight: 700;

        .breadcrumbItem {
            color: var.$primary-color;
            display: inline-block;
            position: relative;
            list-style-type: none;
            margin-right: 5px;

            &::after {
                content: '\\';
                position: absolute;
                top: 20%;
            }

            a,
            span {
                display: inline-block;
                position: relative;
                line-height: 2.5;
                padding: 0 10px;
                color: var.$primary-color;
            }

            a {
                text-decoration: underline;
            }

            &.currentPageWrapper {
                &::after {
                    content: '';
                    position: absolute;
                }

                .currentPage {
                    cursor: default;
                    color: var.$tertiary-color;
                }
            }
        }
    }

}

@media screen and (max-width: 676px) {
    .breadcrumbMainNav {
        margin-top: 10px;
        font-weight: 700;

        .breadcrumbItem {
            color: var.$primary-color;
            display: inline-block;
            position: relative;
            list-style-type: none;
            margin-right: 5px;

            &::after {
                content: '\\';
                position: absolute;
                top: 20%;
            }

            a,
            span {
                display: inline-block;
                position: relative;
                line-height: 2.5;
                padding: 0 10px;
                color: var.$primary-color;
            }

            a {
                text-decoration: underline;
            }

            &.currentPageWrapper {
                &::after {
                    content: '';
                    position: absolute;
                }

                .currentPage {
                    cursor: default;
                    color: var.$tertiary-color;
                }
            }
        }
    }
}