@use './utility/variables' as var;

//Big Screen
@media screen and (min-width: 676px) {
    tbody {
        tr.companyInvoiceContactPersonRow {
            td {
                padding: 12px 10px;
                border: 1px solid var.$primary-border-color;

                &:last-of-type {
                    border: none;
                }

                select {
                    border: none;
                    color: var.$secondary-color;
                    font-weight: 400;
                    font-size: 14px;
                    appearance: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                span {
                    color: var.$secondary-color;
                    font-weight: 400;
                    font-size: 14px;
                }

                &.companyInvoiceContantPersonEditRow {
                    div {
                        span {
                            padding-right: 6px;

                            svg {
                                width: 22px !important;
                                height: 22px !important;

                                path {
                                    fill: var.$tertiary-color;
                                }
                            }

                            &.redColor {
                                path {
                                    fill: var.$red-color;
                                }
                            }
                        }
                    }
                }

            }

        }
    }

}

//Mobie Screen
@media screen and (max-width: 675px) {

    tbody {
        tr.companyInvoiceContactPersonRow {
            td {
                padding: 12px 10px;
                border: 1px solid var.$primary-border-color;

                &:last-of-type {
                    border: none;
                }

                select {
                    border: none;
                    color: var.$secondary-color;
                    font-weight: 400;
                    font-size: 14px;
                    appearance: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                span {
                    color: var.$secondary-color;
                    font-weight: 400;
                    font-size: 14px;
                }

                &.companyInvoiceContantPersonEditRow {
                    div {
                        span {
                            padding-right: 6px;

                            svg {
                                width: 22px !important;
                                height: 22px !important;

                                path {
                                    fill: var.$tertiary-color;
                                }
                            }

                            &.redColor {
                                path {
                                    fill: var.$red-color;
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}