@use './utility/variables' as var;

.companyInvoiceCustomSelectWrapper {
    position: relative;

    input {
        background: var.$input-background-color;
        font-weight: 400;
        font-size: 14px;
        color: var.$primary-color !important;
        background: var.$input-background-color;
        border: 1px solid var.$primary-border-color;
        border-radius: 8px;
        text-align: start;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    }

    .companyInvoiceCustomSelectInputIcon {
        position: absolute;
        display: grid;
        right: 5px;
        height: 100%;
        align-items: center;

        svg {
            height: 14px !important;
            width: 14px !important;
        }
    }


    .companyInvoiceCustomSelectMenu {
        border: 1px solid var.$primary-border-color;
        border-radius: 8px;
        max-height: 250px;
        overflow-y: auto;

        .menuItem {
            font-weight: 400;
            font-size: 14px;
            color: var.$primary-color;
            cursor: pointer;

            &:hover {
                color: var.$primary-color;
            }

            .description {
                font-size: 16px;
                font-weight: 400;
            }
            .rate {
                font-size: 14px !important;
                font-weight: 400;
            }
        }
    }
}