@use './utility/variables' as var;


.companyMainErrorWrapper {

    background: var.$primary-background;
    height: 100vh;
    width: 100%;

    h2 {
        color: var.$primary-color;
        font-weight: 600;
        font-size: 32px;
        line-height: 47px;
    }

    button {}
}