@use './utility/variables' as var;

@media screen and (min-width: 676px) {
    .footerWrapper {

        position: static;
        background: white;
        height: 120px;
        bottom: 0;
        left: 0;
        right: 0;

        .footertext {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var.$secondary-color;

            &:after {
                content: "Groovy Invoice";
                color: var.$primary-color;
            }
        }
    }

}

@media screen and (max-width: 675px) {
    .footerWrapper {
        position: static;
        background: white;
        height: 120px;
        bottom: 0;
        left: 0;
        right: 0;

        .footertext {
            font-weight: 400;
            margin-bottom: 37px;
            font-size: 14px;
            color: var.$secondary-color;

            &:after {
                content: "Groovy Invoice";
                color: var.$primary-color;
            }
        }
    }
}