@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

$text-font: Mulish, san-serif;
$primary-background: #f5fafe;
$primary-color: #3649AB;
$primary-color-hover: #455AC6;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$tertiary-color-hover: #4EDD8E;
$grey: #8790B0;
$primary-border-color: #E3EBF2;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $text-font;
  background: $primary-background;
  color: $grey;

  @media screen and (min-width: 992px) {
    min-height: 100vh;
  }

  @media screen and (max-width: 425px) {
    min-height: 100vh;
  }

  * {
    font-family: $text-font;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
    border-radius: 6px;

    &:hover {
      box-shadow: none;
    }
  }

  select.form-select {
    appearance: auto;
    color: $primary-color;
  }

  #__next,
  .pageContent {
    height: inherit;
  }

  .green {
    color: $tertiary-color;

    path {
      color: $tertiary-color;
    }
  }
}

button {
  &.green {
    color: white;
    background: $tertiary-color;
    border: 1px solid $tertiary-color;

    svg {
      path {
        fill: white;
      }
    }

    &:hover {
      background: $tertiary-color-hover;
      border: 1px solid $tertiary-color-hover;
      color: white;
    }
  }

  &.blue {
    color: white;
    background: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background: $primary-color-hover;
      border: 1px solid $primary-color-hover;
      color: white;
    }
  }

  &.blueOutline {
    color: $primary-color !important;
    background: white;
    border: 1px solid $primary-color;

    &:hover {
      background: white;
      color: $primary-color-hover;
      border: 1px solid $primary-color-hover;
    }
  }
}

.react-datepicker {
  border: 1px solid $primary-border-color !important;

  .react-datepicker__navigation {
    margin-top: 8px;

    .react-datepicker__navigation-icon::before {
      border-color: white;
    }
  }

  .react-datepicker__month-container {
    background-color: white;
    color: #969eac;
    font-weight: 600;
    font-family: inherit;

    .react-datepicker__header {
      background-color: $tertiary-color;
      border: 1px solid $primary-border-color;

      .react-datepicker__current-month {
        color: white;
      }

      .react-datepicker__day-names {
        .react-datepicker__day-name {
          color: white;
          font-family: inherit;
        }
      }
    }

    .react-datepicker__month {
      padding: 1rem 0;
      color: white;
    }

    .react-datepicker__day {
      color: $primary-color;
      font-weight: 600;
    }

    .react-datepicker__day--selected {
      color: white;
      background-color: $primary-color;
    }

    .react-datepicker__month-text {
      display: inline-block;
      width: 5rem;
      margin: 0.5rem;
      font-size: 1rem;
      padding: 0.2rem;

      &:hover {
        background-color: $primary-background;
      }
    }


  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: $primary-border-color !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: $primary-border-color !important;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  border-top-color: $primary-border-color !important;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}