@use 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';
@use './utility/variables' as var;


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var.$text-font;
  background: var.$primary-background;
  color: var.$grey;
  background: var.$primary-background !important;

  @media screen and (min-width: 992px) {
    min-height: 100vh;
  }

  @media screen and (max-width: 425px) {
    min-height: 100vh;
  }

  * {
    font-family: var.$text-font;

    &::-webkit-scrollbar {
      width: 0.51em;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0 8px 8px 0;
      background-color: var.$primary-background;
      // box-shadow: inset 0 0 6px var.$primary-color;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background-color: var.$tertiary-color;
      outline: 1px solid var.$tertiary-color;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
    border-radius: 6px;

    &:hover {
      box-shadow: none;
    }

    &:disabled {
      color: var.$secondary-color !important;
      background-color: #e9ecef !important;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  select.form-select {
    -webkit-appearance: auto;
    appearance: auto;
    color: var.$primary-color;

    &:disabled {
      color: var.$secondary-color !important;
      background-color: #e9ecef !important;
    }

  }

  textarea {
    &:disabled {
      color: var.$secondary-color !important;
      background-color: #e9ecef !important;
    }
  }

  #__next,
  .pageContent {
    height: inherit;
    background: var.$primary-background !important;
  }

  .green {
    color: var.$tertiary-color;

    path {
      color: var.$tertiary-color;
    }
  }

  .red {
    color: var.$red-color !important;
  }
}

button {
  &.green {
    color: white;
    background: var.$tertiary-color;
    border: 1px solid var.$tertiary-color;

    svg {
      path {
        fill: white;
      }
    }

    &:hover {
      background: var.$tertiary-color-hover;
      border: 1px solid var.$tertiary-color-hover;
      color: white;
    }
  }

  &.blue {
    color: white;
    background: var.$primary-color !important;
    border: 1px solid var.$primary-color;

    svg {
      path {
        fill: white;
      }
    }

    &:hover {
      background: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }

    &:active {
      background: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
      color: white;
    }
  }

  &.blueOutline {
    color: var.$primary-color !important;
    background: white;
    border: 1px solid var.$primary-color;

    &:hover {
      background: white;
      color: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
    }
  }
}

.react-datepicker {
  border: 1px solid var.$primary-border-color !important;

  .react-datepicker__navigation {
    margin-top: 8px;

    .react-datepicker__navigation-icon::before {
      border-color: white;
    }
  }

  .react-datepicker__month-container {
    background-color: white;
    color: #969eac;
    font-weight: 600;
    font-family: inherit;

    .react-datepicker__header {
      background-color: var.$tertiary-color;
      border: 1px solid var.$primary-border-color;

      .react-datepicker__current-month {
        color: white;
      }

      .react-datepicker__day-names {
        .react-datepicker__day-name {
          color: white;
          font-family: inherit;
        }
      }
    }

    .react-datepicker__month {
      padding: 1rem 0;
      color: white;
    }

    .react-datepicker__day {
      color: var.$primary-color;
      font-weight: 600;
    }

    .react-datepicker__day--selected {
      color: white;
      background-color: var.$primary-color;
    }

    .react-datepicker__month-text {
      display: inline-block;
      width: 5rem;
      margin: 0.5rem;
      font-size: 1rem;
      padding: 0.2rem;

      &:hover {
        background-color: var.$primary-background;
      }
    }


  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: var.$primary-border-color !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: var.$primary-border-color !important;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  border-top-color: var.$primary-border-color !important;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loading {
  // position: relative;
  display: flex;
  justify-content: center;
  min-height: 47px;

  span {
    display: none !important;
  }
}

.loading::after {
  content: "";
  background: url(../assets/icons/circle-notch-solid.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: absolute;
  // top: 11.5px;
  // right: 7px;
  animation: spin infinite 1s linear;
}

.icon-loading svg {
  display: none;
}

.icon-loading::after {
  top: unset;
  right: unset;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#errors-list {
  list-style: none;
}

.hide {
  display: none;
}

.toggle-visibility-wrapper {
  pointer-events: all !important;
  color: var.$secondary-color !important;
  top: 0;
  right: 0;
}