@use 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';
@use './utility/variables' as var;
// @use '../node_modules/bootstrap/scss/bootstrap.scss' as bvar;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var.$text-font;
  background: var.$primary-background;
  color: var.$grey;
  background: var.$primary-background !important;

  @media screen and (min-width: 992px) {
    min-height: 100vh;
  }

  @media screen and (max-width: 425px) {
    min-height: 100vh;
  }

  * {
    font-family: var.$text-font;

    &::-webkit-scrollbar {
      width: 0.51em;
      height: 0.51em;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0 8px 8px 0;
      background-color: var.$primary-background;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background-color: var.$tertiary-color;
      outline: 1px solid var.$tertiary-color;
    }



  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
    border-radius: 6px;
    color: var.$primary-color;

    &::placeholder {
      color: var.$input-placeholder-color;
    }

    ::-ms-input-placeholder {
      /* Edge 12 -18 */
      color: var.$input-placeholder-color;
    }

    &.is-loading {
      background-color: var.$white;
      background: url(../public/images/loading.gif) no-repeat right center;
      background-size: 1.7rem;
      background-position: right center;
      background-repeat: no-repeat;
    }

    &.is-valid {
      border: 1px solid var.$tertiary-color !important;

      &:hover {
        box-shadow: 0 0 0 0.25rem rgba(var.$tertiary-color, 0.25) !important;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: var.$primary-color;
        transition: background-color 9999s ease-in-out 0s;
      }
    }

    &.is-invalid {
      border: 1px solid var.$red-color !important;

      &:hover {
        box-shadow: 0 0 0 0.25rem rgba(var.$red-color, 0.25) !important;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: var.$primary-color;
        transition: background-color 9999s ease-in-out 0s;
      }
    }

    &:hover {
      box-shadow: none;
    }

    &:disabled {
      color: var.$secondary-color !important;
      background-color: var.$input-background-color-disabled !important;
    }

    /* Removing arrows from type=number */
    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: var.$primary-color;
      transition: background-color 9999s ease-in-out 0s;
    }
  }

  .invalid-feedback {
    font-size: 0.8em;
    color: var.$red-color;
  }

  .invalid-data {
    font-size: 0.8em;
    color: var.$red-color;
  }

  select.form-select {
    -webkit-appearance: auto;
    appearance: auto;
    color: var.$primary-color;

    &:disabled {
      color: var.$secondary-color !important;
      background-color: var.$input-background-color-disabled !important;
    }

  }

  textarea {
    &:disabled {
      color: var.$secondary-color !important;
      background-color: var.$input-background-color-disabled !important;
    }
  }

  #__next,
  .pageContent {
    min-height: inherit;
    background: var.$primary-background !important;
  }

  //Hide the default search input from Data Table
  .table-container {
    .filter-wrapper {
      .dataTables_filter {
        label {
          display: none;
        }
      }
    }
  }

  .green {
    color: var.$tertiary-color;

    path {
      color: var.$tertiary-color;
    }
  }

  .red {
    color: var.$red-color !important;
  }
}

button {
  &.green {
    color: var.$white;
    background: var.$tertiary-color;
    border: 1px solid var.$tertiary-color;

    svg {
      path {
        fill: var.$white;
      }
    }

    &:hover {
      background: var.$tertiary-color-hover;
      border: 1px solid var.$tertiary-color-hover;
      color: var.$white;
    }
  }

  &.blue {
    color: var.$white;
    background: var.$primary-color !important;
    border: 1px solid var.$primary-color;

    svg {
      path {
        fill: var.$white;
      }
    }

    &:hover {
      background: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
      color: var.$white;

      svg {
        path {
          fill: var.$white;
        }
      }
    }

    &:active {
      background: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
      color: var.$white;
    }
  }

  &.blueOutline {
    color: var.$primary-color !important;
    background: var.$white;
    border: 1px solid var.$primary-color;

    &:hover {
      background: var.$white;
      color: var.$primary-color-hover;
      border: 1px solid var.$primary-color-hover;
    }
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-datepicker {
  border: 1px solid var.$primary-border-color !important;

  .react-datepicker__navigation {
    margin-top: 8px;

    .react-datepicker__navigation-icon::before {
      border-color: var.$white;
    }
  }

  .react-datepicker__month-container {
    background-color: var.$white;
    color: var.$react-datepicker-background;
    font-weight: 600;
    font-family: inherit;

    .react-datepicker__header {
      background-color: var.$tertiary-color;
      border: 1px solid var.$primary-border-color;

      .react-datepicker__current-month {
        color: var.$white;
      }

      .react-datepicker__day-names {
        .react-datepicker__day-name {
          color: var.$white;
          font-family: inherit;
        }
      }
    }

    .react-datepicker__month {
      padding: 1rem 0;
      color: var.$white;
    }

    .react-datepicker__day {
      color: var.$primary-color;
      font-weight: 600;
    }

    .react-datepicker__day--selected {
      color: var.$white;
      background-color: var.$primary-color;
    }

    .react-datepicker__month-text {
      display: inline-block;
      width: 5rem;
      margin: 0.5rem;
      font-size: 1rem;
      padding: 0.2rem;

      &:hover {
        background-color: var.$primary-background;
      }
    }


  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: var.$primary-border-color !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: var.$primary-border-color !important;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  border-top-color: var.$primary-border-color !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hide {
  display: none !important;
}

.loading {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.loading::before {
  content: "";
  background: url(../assets/icons/circle-notch-solid.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  height: 15px;
  width: 15px;
  animation: spin infinite 1s linear;
  margin-right: 4px;
}

.icon-loading svg {
  display: none;
}

.icon-loading::after {
  top: unset;
  right: unset;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#errors-list {
  list-style: none;
}

.hide {
  display: none;
}

input[type="password"] {

  &.is-invalid,
  &.is-valid {
    background-position: right calc(1.375em + 0.4875rem) center;
  }
}

.toggle-visibility-wrapper {
  pointer-events: all !important;
  color: var.$secondary-color !important;
  top: 0;
  right: -7px;
}