@use './utility/variables' as var;

//Big Screen
@media screen and (min-width: 992px) {
    .main {
        margin: auto 40px;
        margin-left: 135px;
        transition: all 0.35s;
        background: var.$background-color;


        &.expanded {
            margin-left: 329px;
            transition: all 0.35s;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: var.$primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                transition: all 0.35s;
            }

            button {
                height: fit-content;
                border-radius: 6px;
                padding: 8px 11px;
                font-weight: 600;
                font-size: 16px;
                transition: all 0.35s;

                svg {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                    transition: all 0.35s;
                }
            }
        }

        .companyInvoiceTopInvoiceHeader {
            margin-top: 49px;
            border: 1px solid var.$header-top-border-color;
            border-radius: 10px;

            .card_body {
                padding-right: 12px;
                padding-top: 0;
                padding-bottom: 0;

                .companyInvoiceTopHeaderSVGWrapper {
                    padding-left: 5px;

                    svg {
                        height: 41px;
                        width: 41px;
                    }

                    .companyInvoiceCurrencyIcon {
                        background: var.$tertiary-color;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var.$white;
                        border-radius: 50%;
                        font-size: 1.6rem;
                        font-weight: 500;
                        height: 40.99px;
                        width: 40.99px
                    }
                }

                .companyInvoiceTopInvoiceHeaderText {
                    font-weight: 600;
                    font-size: 16px;
                    color: var.$secondary-color;
                    min-height: 50px;
                }

                .companyInvoiceTopInvoiceHeaderNumber {
                    font-weight: 700;
                    font-size: 22px;
                    color: var.$primary-color;
                }

                .companyInvoiceTopHeaderTotalOutstandingWrapper,
                .companyInvoiceTopHeaderDueTodayWrapper,
                .companyInvoiceTopHeaderDueWithinWrapper {
                    border-right: 1px solid var.$header-top-border-color;
                    margin-top: 23px;
                    margin-bottom: 23px;
                }

                .companyInvoiceTopHeaderOverdueInvoiceWrapper {
                    margin-top: 23px;
                    margin-bottom: 0;
                }

                .companyInvoiceTopHeaderDaysGettingPaidWrapper {
                    background: var.$header-top-background;
                    padding-top: 23px;
                    padding-bottom: 16px;
                    padding-right: 0;
                    border-radius: 0px 10px 10px 0px;
                }
            }


        }

        .comapanyInoviceInvoiceTableWrapper {
            margin-top: 50px;
            border-radius: 10px;
            overflow-x: hidden;

            .filter_wrapper {
                label {
                    color: var.$primary-color;
                    background: var.$table-pagination-background;
                    border-radius: 8px 0 0 8px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                input {
                    font-weight: 500;
                    font-size: 14px;
                    color: var.$primary-color;
                    background: #ffffff;
                    border: 1px solid #e3ebf2;
                    border-radius: 0 8px 8px 0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }

            table {
                min-width: 500px;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 40px;
                border: 1px solid var.$table-border !important;
                border-radius: 10px;

                thead {
                    background: var.$table-head-background;
                    border: 1px solid var.$table-border;

                    th {
                        margin-top: 13px;
                        margin-bottom: 17px;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                        border-right: 1px solid var.$table-border;

                        &:first-of-type {
                            border-top-left-radius: 10px;
                        }

                        &:nth-of-type(5) {
                            border-top-right-radius: 10px;
                        }

                        &:last-of-type {
                            border: none;
                            border-bottom: 1px solid var.$table-border;
                        }
                    }
                }

                tbody {
                    background: var.$white;

                    tr {


                        td {
                            padding-top: 19px;
                            padding-bottom: 19px;
                            padding-left: 16px;
                            font-weight: 400;
                            font-size: 14px;
                            color: var.$secondary-color;
                            border-bottom: 1px solid var.$table-border;

                            .companyInvoiceTableInvoiceNumber {
                                font-weight: 600;
                                font-size: 16px;
                                color: var.$primary-color;
                                cursor: pointer;
                            }

                            .companyInvoiceTableCustomerImage {
                                display: flex;
                                align-content: center;

                                img {
                                    border-radius: 50%;
                                }

                                .companyInvoiceTableCustomerName {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                    font-size: 16px;
                                    color: var.$primary-color;
                                }
                            }

                            .companyInvoiceTableDueDate {}

                            .companyInvoiceTableActionDueDateTime {
                                font-size: 12px;
                            }

                            .companyInvoiceTableAmount {
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 14px;
                            }

                            .companyInvoiceTableStatus {
                                width: 53px;
                                border-radius: 50px;
                                background-color: var.$red-color;
                                color: var.$white;
                                font-weight: 600;
                                font-size: 12px;
                                padding: 4px 14px;
                                width: 30px;
                                text-align: center;
                            }

                            .paid {
                                background-color: var.$primary-color !important;
                            }

                            .companyInvoiceTableActionWrapper {
                                .companyInvoiceTableActionEdit {
                                    cursor: pointer;

                                    svg {
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$tertiary-color;
                                        margin-right: 11px;
                                    }
                                }

                                .companyInvoiceTableActionInfo {
                                    cursor: pointer;

                                    svg {
                                        height: 19px;
                                        width: 19px;
                                        margin-right: 9px;

                                        path {
                                            fill: var.$primary-color;
                                        }
                                    }
                                }

                                .companyInvoiceTableActionView {
                                    cursor: pointer;

                                    svg {
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$secondary-color;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            border: none;

                            td {
                                border: none;

                                &:nth-child(1) {
                                    border-radius: 0 0 0 10px;
                                }

                                &:nth-child(5) {
                                    border-radius: 0 0 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .companyInvoiceTablePagination {
            margin-top: 40px;
            margin-bottom: 70px;

            .companyInvoiceTablePaginationPageInfo {
                color: var.$primary-color;
                font-weight: 400;
                font-size: 13px;
                align-items: center;
                justify-content: start;
            }

            .companyInvoiceTablePaginationNavigation {
                justify-content: flex-end;

                button {
                    background: none;
                    border: none;
                    color: #5C5C5C;
                }



                ul {
                    margin: 0;

                    .companyInvoicePaginationNumber {
                        background: var.$table-pagination-background;
                        width: 36px;
                        height: 36px;
                        font-weight: 600;
                        font-size: 16px;
                        color: var.$primary-color;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 5px;
                        margin: auto 3.5px;
                        cursor: pointer;
                    }

                    .active {
                        width: 36px;
                        height: 36px;
                        font-weight: 600;
                        font-size: 16px;
                        background: var.$tertiary-color !important;
                        color: var.$white !important;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 5px;
                        margin: auto 3.5px;
                        cursor: pointer;
                    }
                }
            }
        }

    }

}

//Tablet Screen
@media screen and (min-width: 676px) and (max-width: 992px) {
    .main {
        padding-top: 40px;
        margin: auto 30px;
        margin-left: 135px;
        transition: all 0.35s;
        background: var.$background-color;
        height: 100%;


        &.expanded {
            margin-left: 329px;
            transition: all 0.35s;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: var.$primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                transition: all 0.35s;
            }

            button {
                height: fit-content;
                border-radius: 6px;
                padding: 8px 11px;
                font-weight: 600;
                font-size: 16px;
                transition: all 0.35s;

                svg {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                    transition: all 0.35s;
                }
            }
        }

        .companyInvoiceTopInvoiceHeader {
            margin-top: 49px;
            border: 1px solid var.$header-top-border-color;
            border-radius: 10px;

            .card_body {
                padding: 16px 12px 0 12px;

                .companyInvoiceTopHeaderSVGWrapper {
                    .companyInvoiceCurrencyIcon {
                        background: var.$tertiary-color;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var.$white;
                        border-radius: 50%;
                        font-size: 1.6rem;
                        font-weight: 500;
                        height: 40.99px;
                        width: 40.99px
                    }
                }

                .companyInvoiceTopInvoiceHeaderText {
                    font-weight: 600;
                    font-size: 14px;
                    color: var.$secondary-color;
                }

                .companyInvoiceTopInvoiceHeaderNumber {
                    font-weight: 700;
                    font-size: 18px;
                    color: var.$primary-color;
                }

                .companyInvoiceTopHeaderTotalOutstandingWrapper,
                .companyInvoiceTopHeaderDueTodayWrapper {
                    margin-top: 10px;
                    padding-bottom: 36px;
                    border-bottom: 1px solid var.$header-top-border-color;
                }

                .companyInvoiceTopHeaderDueWithinWrapper,
                .companyInvoiceTopHeaderOverdueInvoiceWrapper {
                    margin-top: 28px;
                    padding-bottom: 33px;
                }

                .companyInvoiceTopHeaderDaysGettingPaidWrapper {
                    background: var.$header-top-background;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    padding-left: 19px;
                    padding-right: 0;
                    border-radius: 0 0 10px 10px;
                }
            }
        }

        .comapanyInoviceInvoiceTableWrapper {
            margin-top: 50px;
            border-radius: 10px;
            overflow-x: auto;
            padding: 0;

            .filter_wrapper {
                label {
                    color: var.$primary-color;
                    background: var.$table-pagination-background;
                    border-radius: 8px 0 0 8px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                input {
                    font-weight: 500;
                    font-size: 14px;
                    color: var.$primary-color;
                    background: #ffffff;
                    border: 1px solid #e3ebf2;
                    border-radius: 0 8px 8px 0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }

            table {
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 40px;
                border: 1px solid var.$table-border !important;
                border-radius: 10px;

                thead {
                    min-width: 663px;
                    background: var.$table-head-background;
                    border: 1px solid var.$table-border;

                    th {
                        margin-top: 13px;
                        margin-bottom: 17px;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                        border-right: 1px solid var.$table-border;


                        &:first-of-type {
                            border-top-left-radius: 10px;
                        }

                        &:nth-of-type(5) {
                            border-top-right-radius: 10px;
                        }

                        &:last-of-type {
                            border: none;
                            border-bottom: 1px solid var.$table-border;
                        }
                    }
                }

                tbody {
                    background: var.$white;
                    min-width: 663px;

                    tr {

                        &:last-child {
                            border: none;

                            td {
                                border: none;

                                &:nth-child(1) {
                                    border-radius: 0 0 0 10px;
                                }

                                &:nth-child(5) {
                                    border-radius: 0 0 10px 0;
                                }
                            }
                        }

                        td {
                            padding-top: 19px;
                            padding-bottom: 19px;
                            padding-left: 16px;
                            font-weight: 400;
                            font-size: 14px;
                            color: var.$secondary-color;
                            border-bottom: 1px solid var.$table-border;

                            .companyInvoiceTableInvoiceNumber {
                                font-weight: 600;
                                font-size: 16px;
                                color: var.$primary-color;
                            }

                            .companyInvoiceTableCustomerImage {
                                display: flex;
                                align-content: center;

                                img {
                                    border-radius: 50%;
                                }

                                .companyInvoiceTableCustomerName {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                    font-size: 16px;
                                    color: var.$primary-color;
                                }
                            }

                            .companyInvoiceTableDueDate {}

                            .companyInvoiceTableActionDueDateTime {
                                font-size: 12px;
                            }

                            .companyInvoiceTableAmount {
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 14px;
                            }

                            .companyInvoiceTableStatus {
                                width: 53px;
                                border-radius: 50px;
                                background-color: var.$red-color;
                                color: var.$white;
                                font-weight: 600;
                                font-size: 12px;
                                padding: 4px 14px;
                                width: 30px;
                                text-align: center;
                            }

                            .paid {
                                background-color: var.$primary-color !important;
                            }

                            .companyInvoiceTableActionWrapper {
                                .companyInvoiceTableActionEdit {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$tertiary-color;
                                        margin-right: 11px;
                                    }
                                }

                                .companyInvoiceTableActionInfo {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        margin-right: 9px;

                                        path {
                                            fill: var.$primary-color;
                                        }
                                    }
                                }

                                .companyInvoiceTableActionView {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$secondary-color;
                                    }
                                }
                            }

                            ul {
                                // display: flex;
                                padding-left: 0.2rem;
                                justify-content: space-between;

                                li {
                                    list-style: none;
                                    display: grid;

                                    span:first-of-type {
                                        color: var.$primary-color;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                }
            }

        }

        .companyInvoiceTablePagination {
            margin-top: 40px;
            margin-bottom: 70px;

            .companyInvoiceTablePaginationPageInfo {
                color: var.$primary-color;
                font-weight: 400;
                font-size: 13px;
                align-items: center;
                justify-content: start;
            }

            .companyInvoiceTablePaginationNavigation {
                button {
                    background: none;
                    border: none;
                    color: #5C5C5C;
                }



                ul {
                    margin: 0 auto;

                    .companyInvoicePaginationNumber {
                        background: var.$table-pagination-background;
                        width: 36px;
                        height: 36px;
                        font-weight: 600;
                        font-size: 16px;
                        color: var.$primary-color;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 5px;
                        margin: auto 3.5px;
                        cursor: pointer;
                    }

                    .active {
                        width: 36px;
                        height: 36px;
                        font-weight: 600;
                        font-size: 16px;
                        background: var.$primary-color !important;
                        color: var.$white !important;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 5px;
                        margin: auto 3.5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//Mobie Screen
@media screen and (max-width: 676px) {
    .main {
        margin: 55px 15px 0 15px;
        transition: all 0.35s;

        &.expanded {
            margin: 55px 15px 0 15px;
            transition: all 0.35s;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: var.$primary-color;
                font-weight: 700;
                font-size: 26px;
                line-height: 33px;
            }

            button {
                height: fit-content;
                border-radius: 6px;
                padding: 8px 6px;
                font-weight: 600;
                font-size: 14px;
                transition: all 0.35s;

                svg {
                    margin-right: 5px;
                    width: 12px;
                    height: 12px;
                    transition: all 0.35s;
                }
            }
        }

        .companyInvoiceTopInvoiceHeader {
            margin-top: 27px;
            border: 1px solid var.$header-top-border-color;
            border-radius: 10px;

            .card_body {
                padding: 16px 12px 0 12px;

                .companyInvoiceTopHeaderSVGWrapper {

                    .companyInvoiceCurrencyIcon {
                        background: var.$tertiary-color;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var.$white;
                        border-radius: 50%;
                        font-size: 1.6rem;
                        font-weight: 500;
                        height: 40.99px;
                        width: 40.99px
                    }
                }

                .companyInvoiceTopInvoiceHeaderText {
                    font-weight: 600;
                    font-size: 14px;
                    color: var.$secondary-color;
                }

                .companyInvoiceTopInvoiceHeaderNumber {
                    font-weight: 700;
                    font-size: 18px;
                    color: var.$primary-color;
                }

                .companyInvoiceTopHeaderTotalOutstandingWrapper,
                .companyInvoiceTopHeaderDueTodayWrapper {
                    margin-top: 10px;
                    padding-bottom: 36px;
                    border-bottom: 1px solid var.$header-top-border-color;
                }

                .companyInvoiceTopHeaderDueWithinWrapper,
                .companyInvoiceTopHeaderOverdueInvoiceWrapper {
                    margin-top: 28px;
                    padding-bottom: 33px;
                }

                .companyInvoiceTopHeaderDaysGettingPaidWrapper {
                    background: var.$header-top-background;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    padding-left: 19px;
                    padding-right: 0;
                    border-radius: 0 0 10px 10px;
                }
            }

        }

        .comapanyInoviceInvoiceTableWrapper {
            margin-top: 50px;
            border-radius: 10px;
            overflow-x: auto;
            padding: 0;

            .filter_wrapper {
                label {
                    color: var.$primary-color;
                    background: var.$table-pagination-background;
                    border-radius: 8px 0 0 8px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                input {
                    font-weight: 500;
                    font-size: 14px;
                    color: var.$primary-color;
                    background: #ffffff;
                    border: 1px solid #e3ebf2;
                    border-radius: 0 8px 8px 0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }

            table {
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 40px;
                border: 1px solid var.$table-border !important;
                border-radius: 10px;

                thead {
                    min-width: 663px;
                    background: var.$table-head-background;
                    border: 1px solid var.$table-border;

                    th {
                        margin-top: 13px;
                        margin-bottom: 17px;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                        border-right: 1px solid var.$table-border;



                        &:first-of-type {
                            border-top-left-radius: 10px;
                        }

                        &:nth-of-type(5) {
                            border-top-right-radius: 10px;
                        }

                        &:last-of-type {
                            border: none;
                            border-bottom: 1px solid var.$table-border;
                        }
                    }
                }

                tbody {
                    background: var.$white;
                    min-width: 663px;

                    tr {
                        &:last-child {
                            border: none;

                            td {
                                border: none;

                                &:nth-child(1) {
                                    border-radius: 0 0 0 10px;
                                }

                                &:nth-child(5) {
                                    border-radius: 0 0 10px 0;
                                }
                            }
                        }

                        td {
                            padding-top: 19px;
                            padding-bottom: 19px;
                            padding-left: 16px;
                            font-weight: 400;
                            font-size: 14px;
                            color: var.$secondary-color;
                            border-bottom: 1px solid var.$table-border;

                            .companyInvoiceTableInvoiceNumber {
                                font-weight: 600;
                                font-size: 16px;
                                color: var.$primary-color;
                            }

                            .companyInvoiceTableCustomerImage {
                                display: flex;
                                align-content: center;

                                img {
                                    border-radius: 50%;
                                }

                                .companyInvoiceTableCustomerName {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                    font-size: 16px;
                                    color: var.$primary-color;
                                }
                            }

                            .companyInvoiceTableDueDate {}

                            .companyInvoiceTableActionDueDateTime {
                                font-size: 12px;
                            }

                            .companyInvoiceTableAmount {
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 14px;
                            }

                            .companyInvoiceTableStatus {
                                width: 53px;
                                border-radius: 50px;
                                background-color: var.$red-color;
                                color: var.$white;
                                font-weight: 600;
                                font-size: 12px;
                                padding: 4px 14px;
                                width: 30px;
                                text-align: center;
                            }

                            .paid {
                                background-color: var.$primary-color !important;
                            }

                            .companyInvoiceTableActionWrapper {
                                .companyInvoiceTableActionEdit {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$tertiary-color;
                                        margin-right: 11px;
                                    }
                                }

                                .companyInvoiceTableActionInfo {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        margin-right: 9px;

                                        path {
                                            fill: var.$primary-color;
                                        }
                                    }
                                }

                                .companyInvoiceTableActionView {
                                    cursor: pointer;

                                    svg {
                                        margin-top: 5px;
                                        height: 19px;
                                        width: 19px;
                                        fill: var.$secondary-color;
                                    }
                                }
                            }

                            ul {
                                // display: flex;
                                padding-left: 0.2rem;
                                justify-content: space-between;

                                li {
                                    list-style: none;
                                    display: grid;

                                    span:first-of-type {
                                        color: var.$primary-color;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                }
            }

        }

        .companyInvoiceTablePaginationWrapper {
            border-top: none;
            border-radius: 0 0 10px 10px;
            padding-bottom: 10px;

            .companyInvoiceTablePagination {
                margin-top: 30px;
                margin-bottom: 30px;

                .companyInvoiceTablePaginationPageInfo {
                    color: var.$primary-color;
                    font-weight: 400;
                    font-size: 13px;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 27px;
                }

                .companyInvoiceTablePaginationNavigation {
                    button {
                        background: none;
                        border: none;
                        color: #5C5C5C;
                    }



                    ul {
                        margin: 0 auto;

                        .companyInvoicePaginationNumber {
                            background: var.$table-pagination-background;
                            width: 36px;
                            height: 36px;
                            font-weight: 600;
                            font-size: 16px;
                            color: var.$primary-color;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 5px;
                            margin: auto 3.5px;
                            cursor: pointer;
                        }

                        .active {
                            width: 36px;
                            height: 36px;
                            font-weight: 600;
                            font-size: 16px;
                            background: var.$primary-color !important;
                            color: var.$white !important;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 5px;
                            margin: auto 3.5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}