$primary-color: #3649AB;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$border-color: #E3EBF2;
$white: #ffffff;
$background-primary-color: rgba($primary-color, .2);

$font-size-heading: 32px;
$font-size-text: 14px;

$screen-size-xm: 368px;
$screen-size-sm: 576px;
$screen-size-mm: 767px;
$screen-size-md: 950px;

.loginContainer {
    color: $primary-color;
    margin: 0;
    padding: 0;

    input {
        &::placeholder {
            color: #8790b08a;
        }
    }

    .mainHeading {
        height: 47px;
        font-weight: 700;
        font-size: $font-size-heading;
        line-height: 40px;
        margin-top: 37px;
        margin-bottom: 79px;
        margin-left: 50px;

        @media (max-width: $screen-size-mm) {
            font-size: $font-size-heading - 2;
            margin-left: 0;
        }

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-heading - 4;
            margin-bottom: 43px;
        }
    }

    .subHeading {

        height: 47px;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-heading;
        line-height: 40px;

        @media (max-width: $screen-size-md) {
            font-size: $font-size-heading - 4;
        }

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-heading - 6;
        }

        @media (max-width: $screen-size-xm) {
            font-size: $font-size-heading - 9;
        }
    }

    .green {
        color: $tertiary-color;
    }

    p {

        height: 24px;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-text + 2;
        line-height: 20px;
        text-align: center;
        color: $secondary-color;

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-text;
        }

    }

    .loginCard {
        box-sizing: border-box;

        width: 450px;
        padding: 39px 50px;
        margin: 0 auto;

        background: #FFFFFF;
        border: 1px solid $border-color;
        border-radius: 10px;
        color: $secondary-color;

        @media (max-width: $screen-size-md) {
            width: 360px;
            padding: 32px 24px;
        }

        @media (max-width: $screen-size-sm) {
            width: 375px;
        }

        @media (max-width: $screen-size-xm) {
            width: 300px;
        }

        .hide {
            display: none;
        }

        .loginErrorMessageWrapper {
            border: 1px solid #ff8f8f;
            border-radius: 10px;
            background: #e5adadb6;
            padding: 10px;

            .loginErrorMessage {
                font-size: 14px;
                font-weight: 400;
                color: #ff0000;
                text-align: center;
            }
        }


        label {
            font-weight: 400;
            font-size: $font-size-text;
            line-height: 18px;
        }

        .innerInputIconWrapper {
            position: relative;

            i {
                position: absolute;
                padding: 13px 16px;
                pointer-events: none;
                font-style: normal;
                font-weight: 900;
                font-size: $font-size-text + 1;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: $tertiary-color;

                svg {
                    width: 16px;
                    height: 18px;
                }
            }

            input {
                height: 44px;
                color: $primary-color;
                font-weight: 600;
                font-size: $font-size-text;
                line-height: 18px;
                padding-left: 46px;
                border-radius: 10px;
                border: 1px solid $border-color;
            }

        }

        hr {
            margin-top: 41px;
            margin-bottom: 36px;
        }

        .companyInvoiceLoginPageForgotPassword {
            color: $secondary-color;
            font-weight: 400;
            font-size: 14px;
            text-decoration-line: underline;
            cursor: pointer;
        }

    }

    a {
        color: $secondary-color;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-text;
        line-height: 18px;
        text-decoration-line: underline;
    }

    .loginBackground {
        background: linear-gradient(0deg, $background-primary-color, $background-primary-color), url('/images/login_page.png') no-repeat;
        background-size: cover;
        height: 100vh;

        @media (max-width: $screen-size-mm) {
            display: none;
        }
    }

    form {

        button {
            background: $primary-color;
            padding: 14px 0;
            border-radius: 6px;
            font-weight: 700;
            font-size: $font-size-text + 2;
            line-height: 20px;
            color: $white;
            border: 0;
            margin-top: 25px;

            &:hover {
                background: $primary-color;
                color: $white;
            }
        }
    }

    button {
        color: $primary-color;
        padding: 7px 20px;
        align-items: center;
        font-size: $font-size-text;

        &:hover {
            background: none;
            color: $primary-color;
        }

        &.loginButtonFacebook {
            margin-right: 3.5px;
            font-weight: 600;
            font-size: 14px;

            @media (max-width: $screen-size-xm) {
                font-size: $font-size-text - 2;
            }
        }

        &.loginButtonGoogle {
            margin-left: 3.5px;
            font-weight: 600;
            font-size: 14px;

            @media (max-width: $screen-size-xm) {
                font-size: $font-size-text - 2;
            }
        }

        .buttonImage {
            margin-right: 8px;
            height: 30px;
            width: 30px;
            font-size: 20px;
        }
    }

    input[type="checkbox"] {
        &:focus {
            box-shadow: none;
        }
    }

    p {
        font-size: $font-size-text;
        font-weight: 400;

        a {
            color: $primary-color;
            font-weight: 600;
            line-height: 18px;
            text-decoration: none;
        }

    }

    .registrationLinkWrapper {
        margin-top: 28px;
    }
}

.mainModelWrapper {
    h2 {
        color: $tertiary-color;
        margin-bottom: 20px;
        margin-top: -20px;
    }

    label {
        color: $secondary-color;
    }

    h2 {
        height: 27px;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-heading - 10;
        line-height: 40px;

        @media (max-width: $screen-size-md) {
            font-size: $font-size-heading - 14;
        }

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-heading - 16;
        }

        @media (max-width: $screen-size-xm) {
            font-size: $font-size-heading -1 9;
        }
    }

    .innerInputIconWrapper {
        position: relative;

        i {
            position: absolute;
            padding: 13px 16px;
            pointer-events: none;
            font-style: normal;
            font-weight: 900;
            font-size: $font-size-text + 1;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: $tertiary-color;
            z-index: 99;

            svg {
                width: 16px;
                height: 18px;
            }
        }

        input {
            height: 44px;
            color: $primary-color;
            font-weight: 600;
            font-size: $font-size-text;
            line-height: 18px;
            padding-left: 46px;
            border-radius: 10px;
            border: 1px solid $border-color;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $border-color;
                opacity: 1;
                /* Firefox */
            }
        }
    }
}