$primary-color: #3649AB;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$border-color: #E3EBF2;
$white: #ffffff;
$background-primary-color: rgba($primary-color, .2);

$font-size-heading: 32px;
$font-size-text: 14px;

$screen-size-sm: 576px;

.loginContainer {
    color: $primary-color;
    margin: 0;
    padding: 0;

    .mainHeading {
        height: 47px;
        font-weight: 700;
        font-size: $font-size-heading;
        line-height: 40px;
        margin-top: 37px;

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-heading - 4;
        }
    }

    .subHeading {

        height: 47px;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-heading;
        line-height: 40px;

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-heading - 6;
        }
    }

    .green {
        color: $tertiary-color;
    }

    p {

        height: 24px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-text + 2;
        line-height: 20px;
        text-align: center;
        color: $secondary-color;

        @media (max-width: $screen-size-sm) {
            font-size: $font-size-text;
        }
    }

    .loginCard {
        box-sizing: border-box;

        width: 450px;
        height: 491px;
        padding: 39px 50px;
        margin: 0 auto;

        background: #FFFFFF;
        border: 1px solid $border-color;
        border-radius: 10px;
        color: $secondary-color;

        @media (max-width: $screen-size-sm) {
            width: 345px;
            padding: 32px 24px;
        }

        label {
            font-weight: 400;
            font-size: $font-size-text;
            line-height: 18px;
        }

        .innerInputIconWrapper {
            position: relative;

            i {
                position: absolute;
                padding: 13px 16px;
                pointer-events: none;
                font-style: normal;
                font-weight: 900;
                font-size: $font-size-text + 2;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: $tertiary-color;

                svg {
                    width: 16px;
                    height: 18px;
                }
            }

            input {
                height: 44px;
                color: $primary-color;
                font-weight: 600;
                font-size: $font-size-text;
                line-height: 18px;
                padding-left: 46px;
                border-radius: 10px;
                border: 1px solid $border-color;
            }

            .toggleVisibilityWrapper {
                pointer-events: all;
                color: $secondary-color;
                top: 0;
                right: 0;
            }
        }

        hr {
            margin-top: 41px;
            margin-bottom: 36px;
        }

    }

    a {
        color: $secondary-color;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-text;
        line-height: 18px;
        text-decoration-line: underline;
    }

    .loginBackground {
        height: 100vh;
        background: linear-gradient(0deg, $background-primary-color, $background-primary-color), url('/images/login_page.png') no-repeat;
        background-size: cover;

        @media (max-width: $screen-size-sm) {
            display: none;
        }
    }

    form {

        button {
            background: $primary-color;
            padding: 10px 0;
            border-radius: 6px;
            font-weight: 700;
            font-size: $font-size-text + 2;
            line-height: 20px;
            color: $white;
            border: 0;

            &:hover {
                background: $primary-color;
                color: $white;
            }
        }
    }

    button {
        color: $primary-color;
        padding: 7px 20px;
        align-items: center;
        font-size: $font-size-text;

        &:hover {
            background: none;
            color: $primary-color;
        }

        .buttonImage {
            margin-right: 8px;
            height: 30px;
            width: 30px;
            font-size: 20px;
        }
    }

    p {
        a {
            color: $primary-color;
            font-weight: 600;
            font-size: $font-size-text;
            line-height: 18px;
            text-decoration: none;
        }

    }

    .registrationLinkWrapper {
        margin-top: 28px;
    }

}