$font-size-heading: 32px;
$font-size-text: 15px;
$expanded-width: 300px;
$nonexpanded-width: 97px;
$primary-color: #3649AB;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$line-color: #BCD5E2;
$navItem-hightlight: #F5FAFE;

.header {
    position: sticky;
    z-index: 30;
    top: 0;

    * {
        color: $primary-color;
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }

    nav {
        .green {
            color: $tertiary-color;

            path {
                color: $tertiary-color;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .header {
        nav {
            height: 100%;
            min-width: $nonexpanded-width;
            max-width: $expanded-width;
            width: $nonexpanded-width;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            -webkit-transition: width 0.31s;
            transition: width 0.31s;

            a {
                text-decoration: none;
                color: inherit;
            }

            .navHeadingWrapper {
                .mainHeading {
                    height: min-content;
                    font-weight: 700;
                    font-size: $font-size-heading;
                    line-height: 40px;
                    margin-top: 25px;
                    margin-left: 29px;
                    margin-bottom: 32px;
                    -webkit-transition: all 1s;
                    transition: all 1s;
                }

                .hamburgerMenu {
                    display: none;
                }
            }

            hr {
                color: $line-color;
                width: $nonexpanded-width;
                transition: all 0.2s;
            }

            .profileDetailWrapper {
                width: $nonexpanded-width;
                padding-top: 18px;
                padding-bottom: 22px;
                font-size: $font-size-text + 1;
                position: relative;
                transition: all 0.2s;
            }

            .profileImage {
                border-radius: 50%;
            }

            .profileNameWrapper {
                display: none;
                font-size: $font-size-text + 1;
                margin-top: 3px;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

            .active {
                background-color: $navItem-hightlight;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                border-radius: 10px;
            }

            .profileActionWrapper {
                display: none;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;

                svg {
                    width: 24px;
                    height: 22px;

                    &:first-of-type {
                        margin-right: 10.5px;
                    }

                    &:last-of-type {
                        margin-left: 10.5px;
                    }
                }
            }

            .nav_menu_arrow {
                background-color: $primary-color;
                border-radius: 50%;
                height: 35px;
                width: 35px;
                top: 23px;
                right: -16px;
                position: absolute;

                svg {
                    path {
                        color: white;
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            form {
                margin-top: 17px;
                padding: 31px 16px;
                position: relative;

                input {
                    padding: 7px 17px;
                    border: $primary-color solid 1px;

                    &::placeholder {
                        color: $secondary-color;
                        font-weight: 400;
                        font-size: $font-size-text -1;
                        line-height: 18px;
                    }
                }

                i {
                    position: absolute;
                    padding: 11px 17px;
                    pointer-events: all;
                    font-style: normal;
                    font-weight: 900;
                    font-size: $font-size-text + 2;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    right: 20px;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .searchButtonWrapper {
                width: 97px;
                margin-top: 109px;
            }

            .nav_menu_list {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                padding: 24px 0px;
                font-size: $font-size-text;

                &.active {
                    right: 0;
                }

                .navItemWrapper {
                    padding: 0px 15px;
                    margin-right: 0px;
                    -webkit-transition: background-color 0.31s, padding 0.31s;
                    transition: background-color 0.31s, padding 0.31s;
                    justify-content: center;

                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }

                .nav_menuName {
                    display: none;
                }
            }

            .nav__link {
                font-size: 18px;
                position: relative;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;

                &:hover {
                    font-weight: bold;
                }
            }

            .center {
                min-height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .expanded {
            width: 100% !important;

            .profileDetailWrapper {
                width: 100% !important;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;

                .profileNameWrapper {
                    display: flex !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                }

                .profileActionWrapper {
                    display: flex !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                }

                .nav_menu_arrow {
                    top: 56px !important;
                    right: -6px !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                }
            }

            hr {
                width: $expanded-width !important;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

            .active {
                border-radius: 10px 0px 0px 10px !important;
            }

            .nav_menu_list {
                padding: 24px 0px !important;
                padding-left: 11px !important;

                .navItemWrapper {
                    justify-content: left !important;

                    svg {
                        margin-right: 15px !important;
                    }
                }

                .nav_menuName {
                    display: inline !important;
                }
            }

        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        nav {
            height: 61px;
            max-width: 100%;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            -webkit-transition: width 0.31s;
            transition: width 0.31s;
            align-content: baseline;

            .navHeadingWrapper {
                flex-direction: row;
                width: 100%;

                .mainHeading {
                    font-weight: 700;
                    height: min-content;
                    font-size: 20px;
                    line-height: 25px;
                    margin-top: 14px;
                    margin-left: 17px;
                    margin-bottom: 12px;
                    -webkit-transition: all 1s;
                    transition: all 1s;
                }

                .hamburgerMenu {
                    margin-top: 14px;
                    justify-self: end;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5.18px;
                    margin-right: 14px;
                    cursor: pointer;

                    div {
                        width: 22px;
                        height: 2.82px;
                        background-color: $primary-color;
                        box-shadow: 0px 4px 20px #00000030;
                        border-radius: 2px;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;

                        &:nth-child(1) {
                            animation: bar1revAnim 0.3s ease-in-out;
                        }

                        @keyframes bar1revAnim {
                            0% {
                                transform: translateY(9px) rotateZ(45deg);
                            }

                            50% {
                                transform: translateY(9px) rotateZ(0deg);
                            }

                            100% {
                                transform: translateY(0px);
                            }
                        }

                        &:nth-child(3) {
                            animation: bar3revAnim 0.3s ease-in-out;
                        }

                        @keyframes bar3revAnim {
                            0% {
                                transform: translateY(-7px) rotateZ(135deg);
                            }

                            50% {
                                transform: translateY(-7px) rotateZ(0deg);
                            }

                            100% {
                                transform: translateY(0px);
                            }
                        }
                    }

                    &.active {
                        div {
                            &:nth-child(2) {
                                transform: scale(0);
                                opacity: 0;
                            }

                            &:nth-child(1) {
                                animation: bar1Anim 0.3s ease-in-out forwards;
                            }

                            @keyframes bar1Anim {
                                50% {
                                    transform: translateY(7px);
                                }

                                100% {
                                    transform: translateY(7px) rotateZ(45deg);
                                }
                            }

                            &:nth-child(3) {
                                animation: bar2Anim 0.3s ease-in-out forwards;
                            }

                            @keyframes bar2Anim {
                                50% {
                                    transform: translateY(-9px);
                                }

                                100% {
                                    transform: translateY(-9px) rotateZ(135deg);
                                }
                            }
                        }
                    }
                }
            }

            hr {
                color: $line-color;
                width: 100%;
                height: 1px;
                line-height: 1px !important;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;

                &:nth-of-type(2) {
                    margin: 0 44px;
                }
            }

            .wrapperForMobileScreen {
                display: none;
                height: 0px;
                -webkit-transition: all 0.2s, opacity 0.5s linear;
                transition: all 0.2s opacity 0.5s linear;

                .profileDetailWrapper {
                    display: none;
                    -webkit-transition: all 0.2s, opacity 0.5s linear;
                    transition: all 0.2s, opacity 0.5s linear;

                    .nav_menu_arrow {
                        display: none !important;
                    }
                }

                .searchButtonWrapper {
                    display: none !important;
                }

                .nav_menu_list {
                    display: none;
                }
            }
        }

    }

    .expanded {
        .wrapperForMobileScreen {
            height: 519px !important;
            display: contents !important;
            -webkit-transition: all 0.2s, opacity 0.5s linear;
            transition: all 0.2s, opacity 0.5s linear;

            .profileDetailWrapper {
                display: block !important;
                width: 100%;
                padding-top: 17px;
                padding-bottom: 33px;
                font-size: $font-size-text + 1;
                -webkit-transition: all 0.2s, opacity 0.5s linear;
                transition: all 0.2s, opacity 0.5s linear;

                .profileImage {
                    border-radius: 50%;
                }

                .profileNameWrapper {
                    display: flex;
                    font-size: $font-size-text + 1;
                    margin-top: 3px;
                    -webkit-transition: all 0.2s, opacity 0.5s linear;
                    transition: all 0.2s, opacity 0.5s linear;
                }

                .profileActionWrapper {
                    display: flex;
                    -webkit-transition: all 0.2s, opacity 0.5s linear;
                    transition: all 0.2s, opacity 0.5s linear;

                    svg {
                        width: 24px;
                        height: 22px;

                        &:first-of-type {
                            margin-right: 10.5px;
                        }

                        &:last-of-type {
                            margin-left: 10.5px;
                        }
                    }
                }
            }

            form {
                margin: 27px 42px;
                position: relative;
                width: 100%;

                input {
                    padding: 7px 17px;
                    border: $primary-color solid 1px;

                    &::placeholder {
                        color: $secondary-color;
                        font-weight: 400;
                        font-size: $font-size-text -1;
                        line-height: 18px;
                    }
                }

                i {
                    position: absolute;
                    padding: 11px 17px;
                    pointer-events: all;
                    font-style: normal;
                    font-weight: 900;
                    font-size: $font-size-text + 2;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    right: 5px;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .nav_menu_list {
                display: flex !important;
                flex-direction: column;
                row-gap: 14px;
                padding: 0px 11px;
                padding-left: 11px;
                width: 100%;
                font-size: $font-size-text;

                .active {
                    background-color: $navItem-hightlight;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    border-radius: 10px;
                }

                .navItemWrapper {
                    padding: 0px 15px;
                    margin: 0px 42px;
                    -webkit-transition: background-color 0.31s, opacity 0.5s linear;
                    transition: background-color 0.31s, opacity 0.5s linear;
                    justify-content: start;

                    svg {
                        width: 22px;
                        height: 22px;
                    }

                    .nav_menuName {
                        margin-left: 15px;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 50px;
                    }
                }

            }
        }


    }

}