$font-size-heading: 32px;
$font-size-text: 15px;
$primary-color: #3649AB;
$secondary-color: #8790B0;
$tertiary-color: #43CB80;
$input-background-color: #F5FAFE;
$primary-border-color: #E3EBF2;
$secondary-border-color: #BCD5E2;
$red-color: #DA5252;

$header-top-border-color: #D3D8EB;
$header-top-background: #EFF2FF;

@media screen and (min-width: 676px) {
    .main {
        padding-top: 40px;
        margin: auto 49px;
        margin-left: 135px;
        transition: all 0.35s;
        margin-bottom: 60px;

        &.expanded {
            margin-left: 329px !important;
            transition: all 0.35s;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: $primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                margin-bottom: 49px;
            }
        }

        .profileCard {
            border: 1px solid $primary-border-color;
            border-radius: 10px;
            margin-bottom: 30px;

            hr {
                color: $primary-border-color;
            }

            .personalDetailsWrapper,
            .passwordDetailsWrapper {
                padding-bottom: 20px;

                .profileImageWrapper {
                    position: absolute;

                    .profileImageDisplay {
                        border-radius: 50%;
                    }

                    .profileImageUploadWrapper {
                        position: absolute;
                        right: 10px;
                        top: 100px;

                        input {
                            display: none;
                        }

                        &:hover {
                            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                        }

                        svg {
                            font-size: 1.2em;

                            &:hover {
                                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                                color: $secondary-color;
                            }
                        }

                        .fileUpload {
                            display: none;
                        }

                    }

                }

                .companyInvoiceUserNameWrapper,
                .companyInvoiceContactNumberWrapper,
                .companyInvoiceEmailIDWrapper,
                .companyInvoicePasswordWrapper,
                .companyInvoiceConfirmPasswordIDWrapper,
                .companyInvoiceCurrentPasswordWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: $secondary-color;
                        background: $input-background-color;
                        border: 1px solid $primary-border-color;
                        border-radius: 8px;
                    }

                    button {
                        display: flex;
                        margin-left: 5px;
                        align-self: center;
                        border: none;

                        svg {
                            height: 20px;
                            width: 20px;

                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }

                .companyInvoiceCurrentPasswordWrapper {
                    svg {
                        position: absolute;
                        right: 0;
                        padding: 10px 16px;
                        cursor: pointer;
                        color: $secondary-color;
                        z-index: 99;
                    }
                }
            }

            .companyDetailsWrapper {
                padding-bottom: 20px;

                .companyInvoiceCompanyNameWrapper,
                .companyInvoiceCompanyAddress1Wrapper,
                .companyInvoiceCompanyAddress2Wrapper,
                .companyInvoiceCompanyCityWrapper,
                .companyInvoiceCompanyPostCodeWrapper,
                .companyInvoiceCompanyStateWrapper,
                .companyInvoiceCompanyCountryyWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: $secondary-color;
                        background: $input-background-color;
                        border: 1px solid $primary-border-color;
                        border-radius: 8px;
                    }

                    select {
                        border: 1px solid $primary-border-color;
                        background: $input-background-color;
                        border-radius: 8px;
                        color: $secondary-color;

                        &::placeholder {
                            color: $secondary-color;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }

            h3 {
                color: $primary-color;
                font-weight: 700;
                line-height: 33px;
            }

            button {
                border-radius: 6px;
                font-weight: 600;
                font-size: 14px;
                color: white;

                &.companyInvoiceSavenSendButton {
                    &:active {
                        background: white;

                        span {
                            color: $primary-color;
                        }

                        svg {
                            path {
                                fill: $primary-color;
                            }
                        }
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }
                }

                &.companyInvoiceCancelButton {
                    &:active {
                        background: $primary-color;

                        span {
                            color: white;
                        }

                        svg {
                            path {
                                fill: white;
                            }
                        }
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 675px) {

    .main {
        margin: 89px 15px 92px 15px;
        transition: all 0.35s;

        &.expanded {
            margin: 89px 15px 92px 15px;
            transition: all 0.35s;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: $primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                margin-bottom: 49px;
            }
        }

        .profileCard {
            border: 1px solid $primary-border-color;
            border-radius: 10px;
            margin-bottom: 30px;

            hr {
                color: $primary-border-color;
            }

            .personalDetailsWrapper,
            .passwordDetailsWrapper {
                padding-bottom: 20px;

                .profileImageWrapper {
                    position: relative;

                    .profileImageDisplay {
                        border-radius: 50%;
                    }

                    .profileImageUploadWrapper {
                        position: absolute;
                        right: 10px;
                        top: 100px;

                        input {
                            display: none;
                        }

                        &:hover {
                            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                        }

                        svg {
                            font-size: 1.2em;

                            &:hover {
                                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                                color: $secondary-color;
                            }
                        }

                        .fileUpload {
                            display: none;
                        }

                    }

                }

                .companyInvoiceUserNameWrapper,
                .companyInvoiceContactNumberWrapper,
                .companyInvoiceEmailIDWrapper,
                .companyInvoicePasswordWrapper,
                .companyInvoiceConfirmPasswordIDWrapper,
                .companyInvoiceCurrentPasswordWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: $secondary-color;
                        background: $input-background-color;
                        border: 1px solid $primary-border-color;
                        border-radius: 8px;
                    }

                    button {
                        display: flex;
                        margin-left: 5px;
                        align-self: center;
                        border: none;

                        &:active {
                            background: $primary-color;
                            color: white;
                        }

                        svg {
                            height: 20px;
                            width: 20px;

                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }

                .companyInvoiceCurrentPasswordWrapper {
                    svg {
                        position: absolute;
                        right: 0;
                        padding: 10px 16px;
                        cursor: pointer;
                        color: $secondary-color;
                        z-index: 99;
                    }
                }
            }

            .companyDetailsWrapper {
                padding-bottom: 20px;

                .companyInvoiceCompanyNameWrapper,
                .companyInvoiceCompanyAddress1Wrapper,
                .companyInvoiceCompanyAddress2Wrapper,
                .companyInvoiceCompanyCityWrapper,
                .companyInvoiceCompanyPostCodeWrapper,
                .companyInvoiceCompanyStateWrapper,
                .companyInvoiceCompanyCountryyWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: $secondary-color;
                        background: $input-background-color;
                        border: 1px solid $primary-border-color;
                        border-radius: 8px;
                    }

                    select {
                        border: 1px solid $primary-border-color;
                        background: $input-background-color;
                        border-radius: 8px;
                        color: $secondary-color;

                        &::placeholder {
                            color: $secondary-color;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }

            h3 {
                color: $primary-color;
                font-weight: 700;
                line-height: 33px;
            }

            button {
                margin-top: 10px;
                border-radius: 6px;
                font-weight: 600;
                font-size: 14px;
                color: white;

                &.companyInvoiceSavenSendButton {
                    width: 100%;

                    &:active {
                        background: $primary-color;
                        color: white;
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }
                }

                &.companyInvoiceCancelButton {
                    width: 100%;

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}