@use './utility/variables' as var;


@media screen and (min-width: 676px) {
    .main {
        padding-top: 40px;
        margin: auto 49px;
        margin-left: 135px;
        transition: all 0.35s;
        margin-bottom: 60px;

        &.expanded {
            margin-left: 329px !important;
            transition: all 0.35s;
        }
        select:focus {
            box-shadow: none !important;
            border: var.$primary-color solid 1px !important;
        }

        input:focus {
            box-shadow: none !important;
            border: var.$primary-color solid 1px !important;
        }

        .comapnyInvoiceHeadingWrapper {
            .title {
                color: var.$primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                margin-bottom: 49px;
            }
        }

        .profileCard {
            border: 1px solid var.$primary-border-color;
            border-radius: 10px;
            margin-bottom: 30px;

            & > div{
                padding: 33px 31px 16px 33px;
            }

            hr {
                color: var.$primary-border-color;
            }

            .personalDetailsWrapper,
            .passwordDetailsWrapper {

                .profileImageWrapper {
                    width: 125px;
                    position: relative;

                    .profileImageDisplay {
                        border-radius: 50%;
                    }

                    .profileImageUploadWrapper {
                        position: absolute;
                        right: 10px;
                        top: 85px;

                        input {
                            display: none;
                        }

                        &:hover {
                            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                        }

                        svg {
                            height: 15px;
                            width: 15px;
                            font-size: 1.2em;

                            &:hover {
                                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                                color: var.$secondary-color;
                            }
                        }

                        .fileUpload {
                            display: none;
                        }

                    }

                }

                .profileSubmitWrapper {
                    margin-left: 0;
                }

                .companyInvoiceUserNameWrapper,
                .companyInvoiceContactNumberWrapper,
                .companyInvoiceEmailIDWrapper,
                .companyInvoicePasswordWrapper,
                .companyInvoiceConfirmPasswordIDWrapper,
                .companyInvoiceCurrentPasswordWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px; 
                        color: var.$primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: var.$secondary-color;
                        background: var.$input-background-color;
                        border: 1px solid var.$primary-border-color;
                        border-radius: 8px;
                    }

                    button {
                        display: flex;
                        align-self: center;
                        border: none;
                        width: auto;

                        svg {
                            height: 15px;
                            width: 15px;

                            path {
                                fill: var.$primary-color;
                            }
                        }
                    }
                }

                .companyInvoiceCurrentPasswordWrapper {
                    svg {
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        right: 5px;
                        padding: 10px 16px;
                        cursor: pointer;
                        color: var.$secondary-color;
                        z-index: 99;
                    }
                }
            }

            .companyDetailsWrapper {
                padding-bottom: 20px;

                .companyInvoiceCompanyNameWrapper,
                .companyInvoiceCompanyAddress1Wrapper,
                .companyInvoiceCompanyAddress2Wrapper,
                .companyInvoiceCompanyCityWrapper,
                .companyInvoiceCompanyPostCodeWrapper,
                .companyInvoiceCompanyStateWrapper,
                .companyInvoiceCompanyCountryyWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: var.$secondary-color;
                        background: var.$input-background-color;
                        border: 1px solid var.$primary-border-color;
                        border-radius: 8px;
                    }

                    select {
                        border: 1px solid var.$primary-border-color;
                        background: var.$input-background-color;
                        border-radius: 8px;
                        color: var.$secondary-color;

                        &::placeholder {
                            color: var.$secondary-color;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }

            h4 {
                color: var.$primary-color;
                font-weight: 700;
                line-height: 33px;
                font-size: 22px;
            }

            button {
                border-radius: 6px;
                font-weight: 600;
                font-size: 14px;
                color: var.$white;
                width: auto;

                &.companyInvoiceSaveSendButton {
                    min-height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:disabled {
                        padding-top: 10px;
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 15px;
                                width: 15px;
                            }
                        }
                    }
                }

                &.companyInvoiceCancelButton {
                    &:active {
                        background: var.$primary-color;

                        span {
                            color: var.$white;
                        }

                        svg {
                            height: 15px;
                            width: 15px;
                            path {
                                fill: var.$white;
                            }
                        }
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 15px;
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 676px) {

    .main {
        margin: 89px 15px 92px 15px;
        transition: all 0.35s;

        &.expanded {
            margin: 89px 15px 92px 15px;
            transition: all 0.35s;
        }
        select:focus {
            box-shadow: none !important;
            border: var.$primary-color solid 1px !important;
        }

        input:focus {
            box-shadow: none !important;
            border: var.$primary-color solid 1px !important;
        }
        .comapnyInvoiceHeadingWrapper {
            .title {
                color: var.$primary-color;
                font-weight: 700;
                font-size: 36px;
                line-height: 33px;
                margin-bottom: 49px;
            }
        }

        .profileCard {
            border: 1px solid var.$primary-border-color;
            border-radius: 10px;
            margin-bottom: 30px;

            hr {
                color: var.$primary-border-color;
            }

            .personalDetailsWrapper,
            .passwordDetailsWrapper {

                .profileImageWrapper {
                    width: 125px;
                    position: relative;

                    .profileImageDisplay {
                        border-radius: 50%;
                    }

                    .profileImageUploadWrapper {
                        position: absolute;
                        right: 10px;
                        top: 85px;

                        input {
                            display: none;
                        }

                        &:hover {
                            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                        }

                        svg {
                            height: 15px;
                            width: 15px;
                            font-size: 1.2em;

                            &:hover {
                                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                                color: var.$secondary-color;
                            }
                        }

                        .fileUpload {
                            display: none;
                        }

                    }

                }

                .companyInvoiceUserNameWrapper,
                .companyInvoiceContactNumberWrapper,
                .companyInvoiceEmailIDWrapper,
                .companyInvoicePasswordWrapper,
                .companyInvoiceConfirmPasswordIDWrapper,
                .companyInvoiceCurrentPasswordWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: var.$secondary-color;
                        background: var.$input-background-color;
                        border: 1px solid var.$primary-border-color;
                        border-radius: 8px;
                    }

                    button {
                        display: flex;
                        align-self: center;
                        border: none;

                        svg {
                            height: 15px;
                            width: 15px;

                            path {
                                fill: var.$primary-color;
                            }
                        }
                    }
                }

                .companyInvoiceCurrentPasswordWrapper {
                    svg {
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        right: 5px;
                        padding: 10px 16px;
                        cursor: pointer;
                        color: var.$secondary-color;
                        z-index: 99;
                    }
                }
            }

            .companyDetailsWrapper {
                padding-bottom: 20px;

                .companyInvoiceCompanyNameWrapper,
                .companyInvoiceCompanyAddress1Wrapper,
                .companyInvoiceCompanyAddress2Wrapper,
                .companyInvoiceCompanyCityWrapper,
                .companyInvoiceCompanyPostCodeWrapper,
                .companyInvoiceCompanyStateWrapper,
                .companyInvoiceCompanyCountryyWrapper {
                    label {
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: var.$primary-color;
                    }

                    input {
                        font-weight: 400;
                        font-size: 14px;
                        color: var.$secondary-color;
                        background: var.$input-background-color;
                        border: 1px solid var.$primary-border-color;
                        border-radius: 8px;
                    }

                    select {
                        border: 1px solid var.$primary-border-color;
                        background: var.$input-background-color;
                        border-radius: 8px;
                        color: var.$secondary-color;

                        &::placeholder {
                            color: var.$secondary-color;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }

            h4 {
                color: var.$primary-color;
                font-weight: 700;
                line-height: 33px;
                font-size: 22px;
            }

            button {
                border-radius: 6px;
                font-weight: 600;
                font-size: 14px;
                width: auto;

                &.companyInvoiceSaveSendButton {
                    min-height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:disabled {
                        padding-top: 10px;
                    }

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        color: var.$white;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;

                            svg {
                                height: 15px;
                                width: 15px;
                                fill: var.$white;
                            }
                        }
                    }
                }

                &.companyInvoiceCancelButton {

                    span {
                        display: flex;
                        text-align: center;
                        justify-content: center;

                        i {
                            display: flex;
                            margin-right: 5px;
                            align-self: center;
                            color: var.$primary-color;

                            svg {
                                height: 15px;
                                width: 15px;
                                color: var.$primary-color;
                            }
                        }
                    }
                }
            }
        }

        .profileSubmitWrapper {
            margin-left: 0;
        }
    }
}