@use './utility/variables' as var;

.successContainer {
    color: var.$primary-color;
    margin: 0;
    padding: 0;

    .mainHeading {
        height: 47px;
        font-weight: 700;
        font-size: var.$font-size-heading;
        line-height: 40px;
        margin-top: 37px;
        margin-bottom: 79px;
        margin-left: 60px;

        @media (max-width: var.$screen-size-mm) {
            font-size: var.$font-size-heading - 2;
            margin-left: 0;
        }

        @media (max-width: var.$screen-size-sm) {
            font-size: var.$font-size-heading - 4;
            margin-bottom: 43px;
        }
    }

    .subHeading {

        height: 47px;
        font-style: normal;
        font-weight: 600;
        font-size: var.$font-size-heading;
        line-height: 40px;

        @media (max-width: var.$screen-size-md) {
            font-size: var.$font-size-heading - 4;
        }

        @media (max-width: var.$screen-size-sm) {
            font-size: var.$font-size-heading - 6;
        }

        @media (max-width: var.$screen-size-xm) {
            font-size: var.$font-size-heading - 9;
        }
    }

    .hide {
        display: none;
    }

    .green {
        color: var.$tertiary-color;
    }

    p {
        height: 24px;
        font-family: var.$text-font;
        font-style: normal;
        font-weight: 600;
        font-size: var.$font-size-text + 2;
        line-height: 20px;
        text-align: center;
        color: var.$secondary-color;

        @media (max-width: var.$screen-size-sm) {
            font-size: var.$font-size-text;
        }
    }

    .successCard {
        box-sizing: border-box;
        padding: 39px 50px;
        margin: 0 auto;

        background: var.$white;
        border: 1px solid var.$border-color;
        border-radius: 10px;
        color: var.$primary-color;
        font-size: 20px;

        @media (max-width: var.$screen-size-md) {
            width: 375px;
            padding: 32px 24px;
        }

        @media (max-width: var.$screen-size-sm) {
            width: 375px;
        }

        @media (max-width: var.$screen-size-xm) {
            width: 300px;
        }

        label {
            font-weight: 400;
            font-size: var.$font-size-text;
            line-height: 18px;
        }

    }

    .successBackground {
        background: linear-gradient(0deg, var.$background-primary-color, var.$background-primary-color), url('/images/registration_page.png') no-repeat;
        background-size: cover;
        height: 100vh;

        @media (max-width: var.$screen-size-mm) {
            display: none;
        }
    }

    .successPasswordBackground {
        background: linear-gradient(0deg, var.$background-primary-color, var.$background-primary-color), url('/images/login_page.png') no-repeat;
        background-size: cover;
        height: 100vh;

        @media (max-width: var.$screen-size-mm) {
            display: none;
        }
    }

    .registrationLinkWrapper {
        margin-top: 28px;

        a {
            color: var.$primary-color;
            font-weight: 600;
            font-size: var.$font-size-text;
            line-height: 18px;
            text-decoration: none;
        }
    }

}