@use './utility/variables' as var;

// DataTable 
.dataTables_wrapper {

    &#manage-user--table_wrapper,
    &#manage-customer--table_wrapper,
    &#manage-invoice--table_wrapper {

        .filter-wrapper {
            label {
                color: var.$primary-color;
                background: var.$table-pagination-background;
                border-radius: 8px 0 0 8px;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            input {
                font-weight: 500;
                font-size: 14px;
                color: var.$primary-color;
                background: var.$white;
                border: 1px solid var.$primary-border-color;
                border-radius: 0 8px 8px 0;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }

        .bottom {
            .dataTables_info {
                color: var.$primary-color;
                font-weight: 400;
                font-size: 13px;
                align-items: center;
                justify-content: start;
            }

            .dataTables_paginate {
                margin-bottom: 70px;

                a {
                    svg {
                        fill: var.$primary-color
                    }

                    &:active {
                        background: linear-gradient(to bottom, var.$primary-border-color 0%, var.$primary-border-color 100%);
                        box-shadow: none;
                        border-radius: 50%;
                    }

                    &:hover {
                        background: linear-gradient(to bottom, var.$primary-border-color 0%, var.$primary-border-color 100%);
                        box-shadow: none;
                        border: none;
                        border-radius: 50%;
                    }
                }

                span {
                    .paginate_button {
                        background: var.$table-pagination-background;
                        width: 36px;
                        height: 36px;
                        font-weight: 600;
                        font-size: 16px;
                        color: var.$primary-color !important;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 5px;
                        margin: auto 3.5px;
                        cursor: pointer;
                        border: none;
                        padding-right: 5px;
                        padding-left: 5px;

                        &.current {
                            width: 36px;
                            height: 36px;
                            font-weight: 600;
                            font-size: 16px;
                            background: var.$tertiary-color !important;
                            color: var.$white !important;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 5px;
                            margin: auto 3.5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}